@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');


header {
 
  height: 50vh;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 76px;
  flex-direction: column;
  color: white;
  text-shadow: 10px 10px 10px black;
}





